.video-card {
  display: flex;
  position: relative;
  max-width: 250px;
  background-color: #22241b;
  color: var(--light-color);
}

.video-card > .action-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  z-index: 2;
  right: 0.2rem;
  top: 0.2rem;
}

.video-card > .video-thumbnail {
  object-fit: cover;
}

.video-card > .video-thumbnail > img {
  object-fit: cover;
  min-width: 250px;
  min-height: 150px;
}

.action-container > .action-btn {
  padding: 2px;
  border-radius: var(--radius-sm);
  background-color: var(--dark-color);
  opacity: 0.8;
  color: var(--light-color);
}

.video-card > .footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  background-color: var(--dark-color);
  opacity: 0.8;
  color: var(--light-color);
  font-size: 0.8rem;
}

.video-thumbnail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-thumbnail > .card-play {
  position: absolute;
  opacity: 0;
}

.video-thumbnail:hover .card-play {
  opacity: 1;
}
