:root {
  --primary-color: #320349;
  --secondary-color: #ecbc0a;
  --dark-color: #191819;
  --gray-color: #383838;
  --danger-color: #ed1c24;
}

.App {
  min-height: 100vh;
  background-color: var(--dark-color);
}
.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.main-section {
  max-width: calc(100% - 10rem);
  min-width: calc(100% - 10rem);
  height: 100%;
  padding: 1.5rem 1rem;
}
.section-title {
  color: var(--secondary-color);
}

.section-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  color: var(--light-color);
  padding-bottom: 1rem;
}

/* Authentication */
.auth-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  max-width: 20rem;
  text-align: center;
}

.auth-card img {
  max-width: 20%;
  align-self: center;
}

.auth-card .input-text {
  border-radius: var(--radius-md);
  background-color: transparent;
  padding: var(--space-xs);
  border: 1px solid var(--dark-lighter);
  outline: none;
  color: var(--dark-lightest);
  flex-grow: 1;
}

.link {
  color: var(--secondary-color);
}

.cursor-pointer {
  cursor: pointer;
}

/* Disabled Button */
button:disabled,
button:disabled:hover {
  opacity: 0.5;
  cursor: none;
}

button {
  border: none;
  outline: none;
  color: var(--light-color);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.btn-primary:hover,
.btn:hover,
.btn-primary:focus,
.btn:focus {
  background-color: var(--primary-color);
  color: var(--light-color);
  opacity: 0.8;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.btn-danger {
  color: var(--light-color);
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--danger-color);
  color: var(--light-color);
  opacity: 0.8;
}

.auth-card .input-text {
  min-width: var(--space-md);
}
